<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主页</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"  href="/webjars/bootstrap/3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" th:href="@{/webjars/jquery/3.3.1-1/jquery.min.js}"  href="/webjars/jquery/3.3.1-1/jquery.min.js">
    <style type="text/css" media="print">
        #an { display: none; }
    </style>
    <style type="text/css">
        .container-small{
            max-width: 800px;
        }
    </style>
</head>
<body >
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="copy">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">简易接口</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="/io">挂单查询</a></li>
                <li><a href="#contact">销售退货原因汇总</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="padding-top: 80px">

    <a href="/io" class="btn btn-lg btn-primary">挂单列表</a>
    <button class="btn btn-lg btn-primary" >挂单列表</button>

</div><!-- /.container -->


</body>
</html>